* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.logo img {
  margin-top: 85px;
}

.hero {
  max-width: 978px;
  height: 737px;
  background-repeat: no-repeat;
  background-image: url(../img/Rectangle\ 6.png);
  border-radius: 35px;
  margin-left: 28px;
}
.hero .flex-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .hero-text {
  max-width: 564px;
  margin-top: 120px;
  box-sizing: border-box;
}
.hero .hero-text h1 {
  font-size: 64px;
  line-height: 100%;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -5px;
  text-shadow: 3px 4px 5px rgba(99, 121, 227, 0.7);
}
.hero .hero-text p {
  width: 465px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  margin-top: 35px;
  text-shadow: 3px 4px 5px rgba(54, 47, 47, 0.5);
}
.hero .card {
  margin-top: -18px;
  margin-left: 200px;
  -moz-column-gap: 100px;
       column-gap: 100px;
  max-width: 100%;
  border: 1px solid transparent;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 3px 4px 5px rgba(97, 102, 235, 0.5);
  text-shadow: 3px 4px 5px rgba(97, 102, 235, 0.9);
}

.paragraph1 {
  font-size: 24px;
  font-weight: bold;
  line-height: auto;
  color: #000000;
}

.frame img {
  width: 240px;
  margin-top: 32px;
}

.geral {
  max-width: 100%;
  display: flex;
  -moz-column-gap: 155px;
       column-gap: 155px;
  margin-top: 32px;
}
.geral .radio-cm label {
  margin: 8px;
  text-transform: capitalize;
  font-weight: 600;
  margin-right: 30px;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.geral .radio-kg label {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  color: #000000;
}

.form {
  display: flex;
}
.form .group-input {
  margin-top: 32px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  color: #5E6E85;
}
.form .custom-input {
  margin-top: 8px;
  margin-right: 24px;
  width: 239px;
  height: 69px;
  border: 1px solid #5E6E85;
  border-radius: 12px;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.form .custom-input span {
  padding: 0 5px;
  color: #888;
  font-weight: 600;
  font-size: 24px;
  color: #345FF6;
  margin-right: 24px;
}
.form .custom-input input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: inherit;
  outline: none;
}
.form .custom-input input[type=number],
.form .custom-input input[type=number1] {
  font-weight: 600;
  font-size: 24px;
  color: #5E6E85;
  margin-left: 24px;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #5E6E85;
  margin-top: 8px;
}

.welcome {
  box-sizing: border-box;
  background-image: url(../img/Frame\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 500px;
  height: 130px;
  margin-top: 32px;
  padding: 32px;
}
.welcome h3 {
  font-size: 24px;
  line-height: auto;
  font-weight: 600;
  color: white;
  text-shadow: 3px 4px 5px rgba(73, 64, 64, 0.7);
}
.welcome .paragraph2 {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: white;
}

.result {
  display: flex;
  align-items: flex-end;
  justify-content: center !important;
  -moz-column-gap: 115px;
       column-gap: 115px;
}
.result .image {
  max-width: 564px;
  margin-bottom: 35px 0;
}
.result .content {
  max-width: 465px;
  margin-top: 248px;
}
.result .content h2 {
  padding-bottom: 35px;
  max-width: 500px;
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  font-family: "Inter", sans-serif;
  text-shadow: 3px 4px 5px rgba(85, 160, 207, 0.7);
}
.result .content p {
  max-width: 465px;
  font-weight: 400;
  font-size: 16px;
  color: #5e6e85;
}

.Rectangle {
  max-width: 1392px;
  border-radius: 35px;
  margin: 100px;
  padding: 24px;
  background-image: url(../img/Rectangle\ 7.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.Rectangle .Rectangle-hero {
  display: flex;
  height: 234px;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.Rectangle .Rectangle-hero img {
  margin-bottom: 45px;
}
.Rectangle .Rectangle-hero h3 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  line-height: auto;
  font-weight: 600;
  margin-bottom: 24px;
  text-shadow: 3px 4px 5px rgba(30, 122, 180, 0.7);
}
.Rectangle .Rectangle-hero p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #5E6E85;
}

.bmi-limitations {
  display: flex;
  margin-top: 20px !important;
}
.bmi-limitations .limitations {
  width: 564px;
}
.bmi-limitations .limitations h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  padding-bottom: 35px;
  text-shadow: 3px 4px 5px rgba(30, 122, 180, 0.7);
}
.bmi-limitations .limitations p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #5E6E85;
}
.bmi-limitations .category {
  margin-left: 132px;
  width: 365px;
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px rgba(72, 98, 228, 0.2);
  border-radius: 10px;
  padding: 32px;
}
.bmi-limitations .category .card-1 {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
}
.bmi-limitations .category .card-1 h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: auto;
}
.bmi-limitations .category .pcard-1 {
  width: 301px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #5E6E85;
}

.bmi-limitations-02 {
  max-width: 100%;
  display: flex;
  margin-left: 320px;
  padding: 38px;
}
.bmi-limitations-02 .category2 {
  max-width: 365px;
  margin-left: 140px;
  margin-right: 32px;
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px rgba(72, 98, 228, 0.2);
  border-radius: 10px;
  padding: 32px;
}
.bmi-limitations-02 .category2 .card-2 {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
}
.bmi-limitations-02 .category2 .card-2 h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: auto;
}
.bmi-limitations-02 .category2 .pcard-2 {
  width: 301px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #5E6E85;
}
.bmi-limitations-02 .category3 {
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px rgba(72, 98, 228, 0.2);
  border-radius: 10px;
  padding: 32px;
}
.bmi-limitations-02 .category3 .card-3 {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
}
.bmi-limitations-02 .category3 .card-3 h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: auto;
}
.bmi-limitations-02 .category3 .pcard-3 {
  width: 301px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #5E6E85;
}

.bmi-limitations-04 {
  max-width: 100%;
  display: flex;
  margin-bottom: 120px;
}
.bmi-limitations-04 .category4 {
  width: 365px;
  margin-left: 190px;
  margin-right: 32px;
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px rgba(72, 98, 228, 0.2);
  border-radius: 10px;
  padding: 32px;
}
.bmi-limitations-04 .category4 .card-4 {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
}
.bmi-limitations-04 .category4 .card-4 h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: auto;
}
.bmi-limitations-04 .category4 .pcard-4 {
  width: 301px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #5E6E85;
}
.bmi-limitations-04 .category5 {
  width: 365px;
  margin-right: 32px;
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px rgba(72, 98, 228, 0.2);
  border-radius: 10px;
  padding: 32px;
}
.bmi-limitations-04 .category5 .card-5 {
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
}
.bmi-limitations-04 .category5 .card-5 h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: auto;
}
.bmi-limitations-04 .category5 .pcard-5 {
  width: 301px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #5E6E85;
}

@media (max-width: 1044px) {
  .logo {
    display: flex;
    justify-content: center;
  }
  .hero-text {
    display: block;
    max-width: 686px;
  }
  .hero-text img {
    display: block;
    align-items: center;
  }
  .hero-text h1 {
    display: block;
    font-weight: 600;
    font-size: 48px;
    line-height: 110%;
    text-align: center;
    align-items: center;
  }
  .hero-text p {
    font-weight: 400;
    line-height: 150%;
    font-size: 16px;
    text-align: center;
    align-items: center;
  }
  .flex-hero {
    display: flex;
    flex-direction: column;
  }
  .hero-text {
    margin-bottom: 50px;
  }
  .card {
    max-width: 100%;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .result {
    -moz-column-gap: 75px;
         column-gap: 75px;
    margin-top: 72px;
  }
  .result .content {
    max-width: 380px;
  }
  .result .content h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 115%;
    color: #253347;
  }
  .result .content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #5E6E85;
  }
  .result .image {
    max-width: 330px;
  }
  .result .image img {
    width: 100%;
  }
  .Rectangle {
    margin: 100px 0;
  }
  .Rectangle .Rectangle-hero {
    height: auto;
    flex-direction: column;
    row-gap: 40px;
  }
  .Rectangle .Rectangle-hero .option {
    display: flex;
    align-items: center;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .Rectangle .Rectangle-hero .option img {
    margin: 0;
  }
  .bmi-limitations {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .bmi-limitations .limitations {
    max-width: 100%;
  }
  .bmi-limitations .limitations h2 {
    text-align: center;
  }
  .bmi-limitations .limitations p {
    text-align: center;
  }
  .bmi-limitations .category {
    margin-top: 56px;
    align-items: center;
    margin-left: 0px;
  }
  .bmi-limitations-02 {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 480px;
  }
  .bmi-limitations-04 {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 175px;
  }
}
@media (max-width: 768px) {
  .logo img {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }
  .hero {
    margin: 0;
    border-radius: 32px;
    border-bottom-left-radius: 0;
  }
  .flex-hero {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .flex-hero .hero-text {
    width: 327px;
    margin-top: 20px;
  }
  .flex-hero .hero-text p {
    width: 327px;
  }
  .card {
    max-width: 328px;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card .paragraph1 {
    margin: 24px;
  }
  .card p {
    margin-right: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: auto;
  }
  .card .frame img {
    display: none;
  }
  .card .geral {
    margin: 24px;
    display: flex;
    -moz-column-gap: 24px;
         column-gap: 24px;
    margin-top: 20px;
  }
  .card .geral input {
    max-width: 100%;
  }
  .card .geral .radio-kg label {
    margin-left: 5px;
  }
  .card .form {
    margin: 24px;
    display: block;
  }
  .welcome {
    max-width: 244px;
    margin-left: 22px;
    align-items: center;
    background-position: center;
    padding: 24px;
    height: auto;
    border-radius: 16px;
    margin-top: 24px;
  }
  .result {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 425px;
  }
  .result .content {
    margin-top: 0;
  }
  .result .content h2 {
    font-size: 25px;
    margin-top: 16px;
    text-align: center;
  }
  .result .content p {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
  }
  .bmi-limitations {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .bmi-limitations .limitations {
    margin-bottom: 56px;
    font-size: 32px;
    line-height: 110%;
    line-height: 600;
  }
  .bmi-limitations-02 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 5px 16px;
  }
  .bmi-limitations-02 .category2 {
    margin: 0;
    margin-bottom: 40px;
  }
  .bmi-limitations-04 {
    margin-left: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .bmi-limitations-04 .category5 {
    margin-top: 40px;
    margin-left: 200px;
  }
  .bmi-limitations-04 .category {
    margin-top: 40px;
    margin-left: 191px;
  }
}/*# sourceMappingURL=style.css.map */