* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.logo{
  img{
    margin-top: 85px;
  }
}
.hero {
  
  max-width: 978px;
  height: 737px;
  background-repeat: no-repeat;
  background-image: url(../img/Rectangle\ 6.png);
  border-radius: 35px;
  //padding: 86px 116px;'
  //padding-top: 87px;
  margin-left: 28px;

  .flex-hero {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero-text {
    max-width: 564px;
    margin-top: 120px;
    box-sizing: border-box;
    
    h1 {
      font-size: 64px;
      line-height: 100%;
      font-style: normal;
      font-weight: 600;
      letter-spacing: -5px;
      text-shadow: 3px 4px 5px rgba(99, 121, 227, 0.7);
    }

    p {
      //color: black;
      width: 465px;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0px;
      margin-top: 35px;
      text-shadow: 3px 4px 5px rgba(54, 47, 47, 0.5);
    }
  }

  .card {
      margin-top: -18px;
      margin-left: 200px;
      column-gap: 100px;
      max-width: 100%;
      border: 1px solid transparent;
      background-color: #ffffff;
      border-radius: 16px;
      padding: 32px;
      box-shadow: 3px 4px 5px rgba(97, 102, 235, 0.5);
      text-shadow: 3px 4px 5px rgba(97, 102, 235, 0.9);
    }
  
  }
    .paragraph1 {
      font-size: 24px;
      font-weight: bold;
      line-height: auto;
      //text-shadow: 2px 2px 5px rgba(102, 152, 217, 0.8);
      color: #000000;
    }

    .frame {
      img {
        width: 240px;
        margin-top: 32px;
      }
    }


    .geral {
      //padding: 24px;
      max-width: 100%;
      display: flex;
      column-gap: 155px;
      margin-top: 32px;


      .radio-cm {
        
        label {
          margin: 8px;
          text-transform: capitalize;
          font-weight: 600;
          margin-right: 30px;
          font-size: 16px;
          line-height: 150%;
          color: #000000;
        }

      }

      .radio-kg {
  
        label {
          //margin: 8px;
          text-transform: capitalize;
          //margin-right: 30px;
          font-size: 16px;
          line-height: 150%;
          font-weight: 600;
          color: #000000;
        }
      }
    }
  

  .form {
    display: flex;

    .group-input {
      
      margin-top: 32px;
      font-size: 14px;
      line-height: 150%;
      font-weight: 400;
      color: #5E6E85;
    }

    .custom-input {
      margin-top: 8px;
      margin-right: 24px;
      width: 239px;
      height: 69px;
      border: 1px solid #5E6E85;
      border-radius: 12px;
      font-size: 16px;
      display: flex;
      align-items: center;
    }

    .custom-input span {
      padding: 0 5px;
      color: #888;
      font-weight: 600;
      font-size: 24px;
      color: #345FF6;
      margin-right: 24px;
    }

    .custom-input input {
      width: 100%;
      height: 100%;
      border: none;
      background-color: transparent;
      font-size: inherit;
      outline: none;
    }

    .custom-input input[type="number"],
    .custom-input input[type="number1"] {
      font-weight: 600;
      font-size: 24px;
      color: #5E6E85;
      margin-left: 24px;
    }
  }

  .input-group {

  }



p {
  
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #5E6E85;
  margin-top: 8px;
}




.welcome {
  box-sizing: border-box;
  background-image: url(../img/Frame\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 500px;
  height: 130px;
  margin-top: 32px;
  padding: 32px;

  h3 {
    font-size: 24px;
    line-height: auto;
    font-weight: 600;
    color: white;
    text-shadow: 3px 4px 5px rgba(73, 64, 64, 0.7);
  }

  .paragraph2 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: white;
  }
}


.result  {
  display: flex;
  //justify-content: space-between;
  align-items: flex-end;
  //flex-direction: column;
  justify-content: center !important;
  column-gap: 115px;
  

  .image {
    max-width: 564px;
    margin-bottom: 35px 0;
  }

  .content {
    max-width: 465px;
    margin-top: 248px;



    h2 {
      padding-bottom: 35px;
      max-width: 500px;
      font-weight: 600;
      font-size: 48px;
      line-height: 110%;
      font-family: "Inter", sans-serif;
      text-shadow: 3px 4px 5px rgba(85, 160, 207, 0.7);
    }

    p {

      max-width: 465px;
      font-weight: 400;
      font-size: 16px;
      //line-height: 150%;
      color: #5e6e85;
    }
  }
}

.Rectangle {
  max-width: 1392px;
  //height: 420px;
  //background-color: red;
  border-radius: 35px;
  margin: 100px;
  padding: 24px;
  background-image: url(../img/Rectangle\ 7.png);
  background-repeat: no-repeat;
  background-size: cover;

  .Rectangle-hero {
    display: flex;
    height: 234px;
    column-gap: 32px;

    //background-color: yellow;
    img {
      margin-bottom: 45px;

    }

    h3 {
      font-size: 24px;
      font-family: "Inter", sans-serif;
      line-height: auto;
      font-weight: 600;
      margin-bottom: 24px;
      text-shadow: 3px 4px 5px rgba(30, 122, 180, 0.7);

    }

    p {

      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      color: #5E6E85;
    }




  }
}

.bmi-limitations {
  display: flex;
  margin-top: 20px !important;

  .limitations {
    width: 564px;

    h2 {
      font-weight: 600;
      font-size: 48px;
      line-height: 110%;
      padding-bottom: 35px;
      text-shadow: 3px 4px 5px rgba(30, 122, 180, 0.7);
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #5E6E85;
    }
  }

  .category {
    margin-left: 132px;
    width: 365px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(72, 98, 228, 0.2);
    border-radius: 10px;
    padding: 32px;

    .card-1 {
      display: flex;
      align-items: center;
      gap: 16px;
      padding-bottom: 16px;

      h4 {

        font-weight: 600;
        font-size: 20px;
        line-height: auto;
      }
    }

    .pcard-1 {

      width: 301px;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      color: #5E6E85;
    }
  }
}

// Segunda Parte

.bmi-limitations-02 {
  max-width: 100%;
  display: flex;
  margin-left: 320px;
  padding: 38px;

  .category2 {
    max-width: 365px;
    margin-left: 140px;
    margin-right: 32px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(72, 98, 228, 0.2);
    border-radius: 10px;
    padding: 32px;

    .card-2 {
      display: flex;
      align-items: center;
      gap: 16px;
      padding-bottom: 16px;

      h4 {

        font-weight: 600;
        font-size: 20px;
        line-height: auto;
      }
    }

    .pcard-2 {
      width: 301px;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      color: #5E6E85;
    }
  }

  .category3 {
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(72, 98, 228, 0.2);
    border-radius: 10px;
    padding: 32px;

    .card-3 {
      display: flex;
      align-items: center;
      gap: 16px;
      padding-bottom: 16px;

      h4 {

        font-weight: 600;
        font-size: 20px;
        line-height: auto;
      }
    }

    .pcard-3 {

      width: 301px;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      color: #5E6E85;
    }
  }
}


//Terceira Parte

.bmi-limitations-04 {
  max-width: 100%;
  display: flex;
  margin-bottom: 120px;

  .category4 {
    width: 365px;
    margin-left: 190px;
    margin-right: 32px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(72, 98, 228, 0.2);
    border-radius: 10px;
    padding: 32px;

    .card-4 {
      display: flex;
      align-items: center;
      gap: 16px;
      padding-bottom: 16px;

      h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: auto;
      }
    }

    .pcard-4 {
      width: 301px;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      color: #5E6E85;
    }
  }

  .category5 {
    width: 365px;
    margin-right: 32px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(72, 98, 228, 0.2);
    border-radius: 10px;
    padding: 32px;

    .card-5 {
      //display: flex;
      align-items: center;
      gap: 16px;
      padding-bottom: 16px;

      h4 {

        font-weight: 600;
        font-size: 20px;
        line-height: auto;
      }
    }

    .pcard-5 {
      width: 301px;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      color: #5E6E85;
    }
  }
}

@media (max-width:1044px) {

  .logo{
    display: flex;
    justify-content: center;

  }

  .hero{

  }

  .hero-text {
    display: block;
    max-width: 686px;

    img {
      display: block;
      align-items: center;
    }

    h1 {
      display: block;
      font-weight: 600;
      font-size: 48px;
      line-height: 110%;
      text-align: center;
      align-items: center;
      //width: 686px;
    }

    p {
      //width: 686px;
      font-weight: 400;
      line-height: 150%;
      font-size: 16px;
      text-align: center;
      align-items: center;
    }
  }

  .flex-hero {
    display: flex;
    flex-direction: column;
  }

  .hero-text {
    margin-bottom: 50px;
  }

  .card {
   max-width: 100%;
   margin-right: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  }

  .result {
    column-gap: 75px;
    margin-top: 72px;
    
    .content {
      max-width: 380px;

      h2{
        font-weight: 600;
        font-size: 32px;
        line-height: 115%;
        color: #253347;
      }

      p{
        font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #5E6E85;
      }
    }

    .image {
      max-width: 330px;

      img {
        width: 100%;
      }
    }

  }

  .Rectangle {
    margin: 100px 0;

    .Rectangle-hero {
      height: auto;
      flex-direction: column;
      row-gap: 40px;

      .option {
        display: flex;
        align-items: center;
        column-gap: 40px;

        img {
          margin: 0;
        }

      }

    }
  }

  .bmi-limitations{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  .limitations{
    max-width: 100%;
    h2{
      text-align: center;
    }

    p{
      text-align: center;
    }
  }
  .category{
   
    margin-top: 56px;
    align-items: center;
    margin-left: 0px;
  }
  }

.bmi-limitations-02{
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 480px;
}

.bmi-limitations-04{
   
  
    max-width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 175px;
}
}


@media (max-width: 768px){

  .logo{
    img{
      display: flex;
      justify-content: center;
      margin-top: 32px;
    }
  }

  .hero{
    margin: 0;
    border-radius: 32px;
    border-bottom-left-radius: 0;
 
  }

 .flex-hero{
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .hero-text{
    width: 327px;
    margin-top: 20px;
    h1{
      
    }

    p{
      width: 327px;
    }
  }
 }

 .card{
  max-width: 328px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .paragraph1{
    margin: 24px;
  }

  p{    
    margin-right: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: auto;
  }
  .frame{
    img{
      display: none;
    }
  }

  .geral{
    margin: 24px;   
    display: flex;
    column-gap: 24px;
    margin-top: 20px;
   
    input{
   
      max-width: 100%;
     
    }

    .radio-kg{
      label{
      
        margin-left: 5px;
      }
    }
  }

  .form{
    margin: 24px;
    display: block;
    

  }
 }

 .welcome{
  max-width: 244px;
 margin-left: 22px;
  align-items: center;
  background-position: center;
 padding: 24px;
  height: auto;
 border-radius: 16px;
 margin-top: 24px;
}


  .result{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 425px;

    .content{
      margin-top: 0;

      h2{
        font-size: 25px;
        margin-top: 16px;
        text-align: center;
      }

      p{
        font-size: 16px;
        line-height: 150%;
        font-weight: 400;
      }
    }
  }

  .bmi-limitations{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .limitations{
      margin-bottom: 56px;
      font-size: 32px;
      line-height: 110%;
      line-height: 600;
    }
  }

  .bmi-limitations-02{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 5px 16px;
    
    .category2{
     margin: 0;
      margin-bottom: 40px;
      
    }
  }

  .bmi-limitations-04{
   margin-left: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  .category5{
    margin-top: 40px;
    margin-left: 200px;
  }  

  .category{
    
    margin-top: 40px;
    margin-left: 191px;
  }
  }

}