* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.hero {
  height: 737px;
  background-repeat: no-repeat;
  background-image: url(../img/Rectangle\ 6.png);
  //padding: 86px 116px;
  padding-top: 87px;
  margin-left: 28px;
  
  .flex-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero-text {
    width: 564px;
    margin-top: 120px;
    box-sizing: border-box;

    h1 {
      font-size: 64px;
      line-height: 100%;
      font-style: normal;
      font-weight: 600;
      letter-spacing: -5px;
      text-shadow: 3px 4px 5px rgba(99, 121, 227, 0.7);
    }

    p {
      color: black;

      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0px;
      margin-top: 35px;
      text-shadow: 3px 4px 5px rgba(54, 47, 47, 0.5);
    }
  }

  .card {

    width: 564px;
    border: 1px solid transparent;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 32px;
    text-shadow: 3px 4px 5px rgba(97, 102, 235, 0.9);

    .paragraph1 {
      font-size: 24px;
      font-weight: bold;
      line-height: auto;
      //text-shadow: 2px 2px 5px rgba(102, 152, 217, 0.8);
      color: #000000;
    }

    .frame{
      img{
        width: 240px;
        margin-top: 32px;
      }
    }
    

    .geral {
      //padding: 24px;
      display: flex;
      gap: 140px;
      margin-top: 32px;
  
      .radio-cm{  
        label {
          margin: 8px;
          text-transform: capitalize;
          font-weight: 600;
          margin-right: 30px;
          font-size: 16px;
          line-height: 150%;
          color: #000000;
          
        }   
      }
  
      .radio-kg{
        label {
          margin: 8px;
          text-transform: capitalize;
          margin-right: 30px;
          font-size: 16px;
          line-height: 150%;
          font-weight: 600;
          color: #000000;
        }   
      }
    }
  }

  .form {
    display: flex;
    
  }
  
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #5E6E85;
    margin-top: 8px;
  }
  
  
  .custom-input {
    margin-top: 32px;
    margin-right: 24px;
    width: 239px;
    height: 69px;
    border: 1px solid #5E6E85;
    border-radius: 12px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .custom-input span {
    padding: 0 5px;
    color: #888;
    font-weight: 600;
    font-size: 24px;
    color: #345FF6;
    margin-right: 24px;
  }
  
  .custom-input input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: inherit;
    outline: none;
  }
  
  .custom-input input[type="number"],
  .custom-input input[type="number1"] {
    font-weight: 600;
    font-size: 24px;
    color: #5E6E85;
    margin-left: 24px;
  }
}

  .welcome {
    box-sizing: border-box;
    background-image: url(../img/Frame\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 130px;
    margin-top: 32px;
    padding: 32px;

    h3 {
      font-size: 24px;
      line-height: auto;
      font-weight: 600;
      color: white;
      text-shadow: 3px 4px 5px rgba(73, 64, 64, 0.7);
    }
    .paragraph2 {
      margin-top: 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: white;
    }
  }


.result {
  display: flex;

  .image {
    width: 564px;
    margin-bottom: 35px 0;
  }
  
  .content {
    width: 465px;
    margin-top: 248px;
    padding-left: 115px;
    
     
    h2 {
      padding-bottom: 35px;
      width: 500px;
      font-weight: 600;
      font-size: 48px;
      line-height: 110%;
      font-family: "Inter", sans-serif; 
      text-shadow: 3px 4px 5px rgba(85, 160, 207, 0.7);      
    }

    p {
           
      width: 465px;
      font-weight: 400;
      font-size: 16px;
      //line-height: 150%;
      color: #5e6e85;
    }
  }
}

.Rectangle{
  max-width: 1392px;
  //height: 420px;
  //background-color: red;
  border-radius: 35px;
  margin: 100px;
  padding: 24px;
  background-image: url(../img/Rectangle\ 7.png);
  background-repeat: no-repeat;
  background-size: cover;
  
  .Rectangle-hero{
    display: flex;
    height: 234px;
    //background-color: yellow;
    img{
      margin-bottom: 45px; ;
    }

    h3{
      font-size: 24px;
      font-family: "Inter", sans-serif;
      line-height: auto;
      font-weight: 600;
      margin-bottom: 24px;
      text-shadow: 3px 4px 5px rgba(30, 122, 180, 0.7); 

    }

    p{
      width: 365px;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      color: #5E6E85;
    }

    .option-1{
      p{
        margin-right: 32px;
      }
    }

    .option-2{
      p{
        margin-right: 16px;
      }
    }
  }
}

.bmi-limitations{
 display: flex;
 margin-top: 20px !important;
  
 .limitations{
    width: 564px;
    
    h2{
      font-weight: 600;
      font-size: 48px;
      line-height: 110%;
      padding-bottom: 35px;
      text-shadow: 3px 4px 5px rgba(30, 122, 180, 0.7); 
    }

    p{
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #5E6E85;
    }
  }

  .category{
    margin-left: 132px;
    width: 365px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(72, 98, 228, 0.2);
    border-radius: 10px;
    padding: 32px;
    
  .card-1{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 16px;
    
    h4{
     
      font-weight: 600;
      font-size: 20px;
      line-height: auto;
    }  
  }
  
  .pcard-1{

    width: 301px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #5E6E85;
  }
 }
}

// Segunda Parte

.bmi-limitations-02{
  width: 762px;
  display: flex;
  padding: 38px;
 
  .category2{
    //width: 365px;
    margin-left: 140px;
    margin-right: 32px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(72, 98, 228, 0.2);
    border-radius: 10px;
    padding: 32px;
    
  .card-2{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 16px;
    
    h4{
     
      font-weight: 600;
      font-size: 20px;
      line-height: auto;
    }  
  }
  
  .pcard-2{
    width: 301px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #5E6E85;
  }
 }

 .category3{
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px rgba(72, 98, 228, 0.2);
  border-radius: 10px;
  padding: 32px;
  
.card-3{
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
  
  h4{
   
    font-weight: 600;
    font-size: 20px;
    line-height: auto;
  }  
}

.pcard-3{

  width: 301px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #5E6E85;
  }
 }
}


//Terceira Parte

.bmi-limitations-04{
display: flex;
margin-bottom: 120px;

.category4{
  width: 365px;
  margin-left: 190px;
  margin-right: 32px;
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px rgba(72, 98, 228, 0.2);
  border-radius: 10px;
  padding: 32px;
  
.card-4{
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
  
  h4{
    font-weight: 600;
    font-size: 20px;
    line-height: auto;
  }  
}

.pcard-4{
  width: 301px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #5E6E85;
  }
 }

 .category5{
  width: 365px;
  margin-right: 32px;
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px rgba(72, 98, 228, 0.2);
  border-radius: 10px;
  padding: 32px;
  
.card-5{
  //display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
  
  h4{
   
    font-weight: 600;
    font-size: 20px;
    line-height: auto;
  }  
}

.pcard-5{
  width: 301px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #5E6E85;
  }
 }
}

@media(max-width:768px){
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-text{
    display: block;
    width: 686px;

    img{
      display: block;
      align-items: center;
    }

    h1{
      display: block;
      font-weight: 600;
      font-size: 48px;
      line-height: 110%;
      text-align: center;
      align-items: center;
      //width: 686px;
    }

    p{
      //width: 686px;
      font-weight: 400;
      line-height: 150%;
      font-size: 16px;
      text-align: center;
      align-items: center;
    }
  }
    .flex-hero {
      display: flex;
      flex-direction: column; 
    }
  
    .hero-text {
      margin-bottom: 40px;
    }
  
    .card {
      width: 100%; 
  }

   .result{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 841px;
    margin-top: 90px;
   }

  .image 
    
    img {
      width: 435px;
      margin-top: 220px;
    }

 
    .content {
      //padding-right: 180px;
      
  }
  
  h2 {
    max-width: 100%;
     font-size: 32px !important;
     font-weight: 600;
     line-height: 115%;
     
  }
  
  p {
      max-width: 100%;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      text-align: justify;
  }
    
}
  
  
